{{>header}}

	<!-- Imagen principal (SOBRE NOSOTROS) -->
	<div class="container-fluid bg-primary p-5 bg-hero mb-5">
		<div class="row py-5">
			<div class="col-12 text-center">
				<h1 class="display-2 test-uppercase text-white mb-md-4"> Seyren Esports</h1>
				<a href="/about" class="btn btn-primary py-md-3 px-md-5 me-3">Quienes somos</a>
			</div>
		</div>
	</div>
	
	<!--NOVEDADES-->
	
	<div class="container-fluid p-5">
        <div class="mb-5 text-center">
            <h5 class="text-primary text-uppercase">NOVEDADES</h5>
            <h1 class="display-3 text-uppercase mb-0">BUSCAMOS JUGADORES</h1>
            <p>Buscamos jugadores para terminar la plantilla del equipo.</p>
            <a href="team" class="btn btn-primary py-md-3 px-md-5 me-3">Mas información</a>
        </div>
    </div>
    
    <!--CONTACTO-->
    
{{>footer}}