{{>header}}

	<!-- Imagen principal (SOBRE NOSOTROS) -->
	<div class="container-fluid bg-primary p-5 bg-hero mb-5">
		<div class="row py-5">
			<div class="col-12 text-center">
				<h1 class="display-2 test-uppercase text-white mb-md-4"> Seyren Esports</h1>
				<a href="/about" class="btn btn-primary py-md-3 px-md-5 me-3">Quienes somos</a>
			</div>
		</div>
	</div>
	
	
	 <!-- NOVEDADES--> <!--NOVEDADES-->
   <div class="container-fluid p-0 my-5">
   
        <div class="row g-2">
        	
        	<div class="mb-5 text-center"><h3 class="text-primary text-uppercase">NOVEDADES</h3></div>
	        	<!--inicio carrusel-->
	        	<div id="header-carousel2" class="carousel slide" data-bs-ride="carousel">
		            <div class="carousel-inner">
		                <div class="carousel-item active">
		                    <div class="container-fluid p-5">
						        <div class="mb-5 text-center">						     
						            <h1 class="display-3 text-uppercase mb-0">BUSCAMOS PATROCINADOR</h1>
						            <p>Con la plantilla prácticamente cerrada y el inminente inicio de la clutch series, desde Seyren Esports,</br>queremos dar el siguiente paso. 
						            Es por eso que buscamos patrocinador  </p>
						            <a href="/sponsor" class="btn btn-primary py-md-3 px-md-5 me-3">Mas información</a>
						        </div>
						    </div>		                    
		                </div>		          
		                <div class="carousel-item">
							<div class="container-fluid p-5">
						        <div class="mb-5 text-center">						     
						            <h1 class="display-3 text-uppercase mb-0">Proyecto Seyren</h1>
						            <p>¿Quieres saber más acerca del proyecto que estamos realizando?</br> Pues que esperas, pincha en 
						            más información.</p>
						            <a href="/sponsor" class="btn btn-primary py-md-3 px-md-5 me-3">Mas información</a>
						        </div>
						    </div>				                    
		                </div>
		            </div>
		            <!--BOTONES CARRUSEL-->
		            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel2"
		                data-bs-slide="prev">
		                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		                <span class="visually-hidden">Anterior</span>
		            </button>
		            <button  class= "carousel-control-next center " type="button" data-bs-target="#header-carousel2"
		                data-bs-slide="next">
		                <span class="carousel-control-next-icon" aria-hidden="true"></span>
		                <span class="visually-hidden">Siguiente</span>
		            </button>
		             <!--BOTONES CARRUSEL-->
		        </div>
		        <!--fin de currusel-->	                    
        </div>
    </div>
    <!-- novedades End -->
	
	
	
	
	
    

    
    
    
{{>footer}}