{{>header}}

	<div class="container-fluid bg-primary p-5  mb-5">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h1 class="display-2 text-uppercase text-white mb-md-4">PROYECTO SEYREN</h1>
                <a href="#jugadores" class="btn btn-primary py-md-3 px-md-5">Mas detalles</a>
            </div>
        </div>
    </div>
    
	<!-- Blog Start -->
	<a name="jugadores"></a>
    <div class="container-fluid p-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <img class="img-fluid w-100 rounded mb-5" src="img/blog-1.jpg" alt="">
                    <h1 class="text-uppercase mb-4">Proyecto SEYREN</h1>
                    <p> Bienvenidos al <SPAN>PROYECTO SEYREN</SPAN> </p>
                    <p>SEYREN es un proyecto joven pero con muchas aspiraciones. Ahora mismo el proyecto esta basado en la competición AMATEUR de VALORANT</p>
                    <p>Se competirá en las ligas AMATEUR del Circuito Tormenta. La liga en las que participaremos será
                    la 2º División de la Clutch Series con el objetivo de ganarla y ascender a 1º División. También queremos participar en las PARADAS que ofrece el Circuito Tormenta.  </br>
                    </p>
                    </br>
                    <p>
                    Lo que ofrece el club es lo siguiente:
                    </br>
                    Si el torneo, parada, o evento al que se tenga que ir es presencial, el club se hará cargo de todos los gastos. Cuando decimos que el club se 
                    hará cargo de todos los gastos nos referimos a todos los gastos de transporte, dietas, alojamiento, entradas al recinto del torneo, etc..
                    </p>
                    
                   <p>De tal manera los jugadores solo se tienen que preocupar por pasarlo bien alli donde vayan.</p>
					
                	
                </div>
           	</div>

                <!-- Blog Detail End -->
                
    <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Recent Post Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">Nuestras Redes</h3>
                    
                    
                    
                    
                    
                    <div class="bg-dark rounded p-4">
                    	<div class="d-flex mb-2">
                            <i class="bi bi-envelope-open text-primary me-2"></i>
                            <a href="mailto:seyrenesports@gmail.com">seyrenesports@gmail.com</a>
                        </div>
                    	<div class="d-flex mt-4">
                            <a class="btn btn-light btn-square rounded-circle me-2 rrss" href="https://twitter.com/Seyrenesports?s=20&t=gmPvYi-mhCWf9Mb-enhXyA"><i class="fab fa-twitter"></i></a>
                            <h5> &nbspTwitter</h5>
                 		 </div>
                 		 <div class="d-flex mt-4">
                            <a class="btn btn-light btn-square rounded-circle rrss" href="https://www.instagram.com/seyrenesports/"><i class="fab fa-instagram"></i></a>
                        	 <h5> &nbsp&nbspInstagram</h5>
                        </div>
                         <div class="d-flex mt-4">
                            <a class="btn btn-light btn-square rounded-circle rrss" href="https://discord.gg/5WS7qN23"><i class="fab fa-discord"></i></a>
                        	 <h5>&nbsp &nbspDiscord</h5>
                        </div>
                       
                       
                     
                       
                    </div>
                </div>
                <!-- Recent Post End -->

               

             
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    {{>footer}}