{{>header}}

	<div class="container-fluid bg-primary p-5  mb-5">
        <div class="row py-5">
            <div class="col-12 text-center">
                <h1 class="display-2 text-uppercase text-white mb-md-4">BUSCAMOS SPONSOR</h1>
                <a href="#sponsor" class="btn btn-primary py-md-3 px-md-5">Mas detalles</a>
            </div>
        </div>
    </div>
    
	<!-- Blog Start -->
	<a name="sponsor"></a>
    <div class="container-fluid p-5">
        <div class="row g-5">
            <div class="col-lg-6">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <div class="mb-5">
                    <!--<img class="img-fluid w-100 rounded mb-5" alt="">AQUI FALTA UNA src blog1-->
	                    <h1 class="text-uppercase mb-4">ASOCIATE CON NOSOTROS</h1>
	                    <p> <span>Seyren Esports</span> está buscando a un socio para juntos, llegar más lejos.</p>
	                    <p>El club actualmente esta enfocado en el videojuego de RIOT GAMES VALORANT y</br>
	                     necesitamos de un patrocinador para poder mejorar el proyecto,</br>
	                      ya que debido a nuestra condición de estudiantes, nuestro capital </br>
	                      es limitado para hacer frente a una empresa de estas carecteristicas.</p>
	                    <p>Además del mundo competitivo (objetivo principal de Seyren), queremos enfocarnos</br>
	                     también en la creación de contenido en plataformas como twitch, tik-tok, instagram...</br>
	                     </br>
	                      Además de nuestra presencia online, participaremos en torneos presenciales,</br>
	                      estos torneos es un lugal ideal para que te representemos y la comunidad de Valorant</br>
	                      descubra tu empresa , no crees? 
	                      </br>
	                    
	                    </br>
	                	<span>No</span> tiene por que ser una asociación <span>cara</span>, si tienes un presupuesto en mente o</br>
	                	simplemente quieres <span>negociar</span> con nosotros,<span>contactanos</span> a <a href="mailto:seyrenesports@gmail.com">seyrenesports@gmail.com</a>
	                	 </br>o por nuestras redes sociales</p>
                    </div>
                </div>
   
           	</div>

                <!-- Blog Detail End -->
                
    <!-- Sidebar Start -->
     <div class="col-lg-2">
     </div>
            <div class="col-lg-4">
                <!-- Recent Post Start -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4">Nuestras Redes</h3>                   
                    <div class="bg-dark rounded p-4">
                    	<div class="d-flex mb-2">
                            <i class="bi bi-envelope-open text-primary me-2"></i>
                            <p class="mb-0"><a href="mailto:seyrenesports@gmail.com">seyrenesports@gmail.com</a></p>
                        </div>
                    	<div class="d-flex mt-4">
                            <a class="btn btn-light btn-square rounded-circle me-2 rrss" href="https://twitter.com/Seyrenesports?s=20&t=gmPvYi-mhCWf9Mb-enhXyA"><i class="fab fa-twitter"></i></a>
                            <h5> &nbspTwitter</h5>
                 		 </div>
                 		 <div class="d-flex mt-4">
                            <a class="btn btn-light btn-square rounded-circle rrss" href="https://www.instagram.com/seyrenesports/"><i class="fab fa-instagram"></i></a>
                        	 <h5> &nbsp&nbspInstagram</h5>
                        </div>
                         <div class="d-flex mt-4">
                            <a class="btn btn-light btn-square rounded-circle rrss" href="https://discord.gg/5WS7qN23"><i class="fab fa-discord"></i></a>
                        	 <h5>&nbsp &nbspDiscord</h5>
                        </div>
                
                    </div>
                </div>
                <!-- Recent Post End -->
        
            </div>
            <!-- Sidebar End -->
        </div>
    </div>
    {{>footer}}
    
    
    
    
  
                    